@use 'vars' as *;
@use 'predef' as *;

#contenedor {
    #cabeza {
        @extend .flex-1;
        width: 100vw;
        background: linear-gradient(180deg, map-get($color, "blanco") 95%, map-get($color, "gris_11") 5%);
        height: 45px;
        position: fixed;
        border-bottom: 1px solid map-get($color, "gris_10");
        top: 0;
        left: 0;

        // ICONOS CABECERA

        .cabeza__iconos {
            display: block;
            font-size: 1.75rem;
            color: map-get($color, "negro");
            //cursor: pointer;
            height: 28px;
        }

        .cabeza__iconos.fino {
            font-size: 1.7rem;
            font-weight: 200;
        }

        .cabeza__iconos.cerrar {
            margin: 0 15px 20px;
            font-size: 1.7rem;
        }


        .cabeza__iconos--dir {
            display: none;
            font-size: 1rem;
            color: map-get($color, "negro");
            height: 16px;
            margin: 3px 7px 0;
        }

        .cabeza__iconos--dir.activo {
            display: block;
        }

        // DESPLEGABLES

        .cabeza__menu--cont {
            @include cabeza__desplegables--edit ($cbz_dsp-wth: 100vw, $cbz_dsp-pdd: 0);
            left: -100%;
            top: 0;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;

            .cabeza__menu--cont_box {
                display: inline-block;
                background-color: map-get($color, "blanco");
                width: 75vw;
                height: 100vh;
                
                //border-right: 1px solid map-get($color, "gris_03");
                .cabeza__menu--user {
                    padding: 15px;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 5px;

                    img {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }

                    h1 {
                        font-family: $fnt_01;
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: map-get($color, "negro");
                        
                    }
                }
                
                
                ul {
                    list-style: none;
                    text-align: left;
                    color: map-get($color, "negro");

                    li {
                        //padding: 15px 5px;
                        font-size: 1rem;
                        display: block;
                        min-height: 35px;

                        &:hover {
                            background-color: map-get($color, "gris_04");
                        }

                        div {
                            padding: 9px 20px;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;

                            span {
                                font-size: 1.25rem;
                                color: map-get($color, "negro");
                                //margin-right: 15px;
                                width: 27px;
                                text-align: center;
                            }
                            
                            a {
                                color: map-get($color, "negro");
                                margin-left: 25px;
                            } 
                        }
                    }
                }
            }

            .cabeza__menu--cont_box-crr {
                display: inline-block;
                width: 25vw;
                height: 100vh;
            }
        }

        .cabeza__menu--cont.activo {
            left: 0;
        }

        .cabeza__dir--cont {
            @include cabeza__desplegables--edit ($cbz_dsp-wth: 100vw, $cbz_dsp-pdd: 0);
            top: 200%;
            left: 0;

            .cabeza__dir--cont_box-cerr {
                height: 40vh;
                display: block;
            }

            .cabeza__dir--cont_box {
                display: block;
                height: 60vh;
                background-color: map-get($color, "blanco");
                padding: 15px;

                h1 {
                    font-family: $fnt_01;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: map-get($color, "negro");
                    margin: 5px 0 15px;
                }

                ul {
                    list-style: none;
                    text-align: left;
                    color: map-get($color, "negro");

                    li {
                        border-bottom: 1px solid map-get($color, "gris_04");
                        padding: 11px 0;

                        &:hover {
                            background-color: map-get($color, "gris_05");
                        }

                        div {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: flex-start;

                            span,
                            .cabeza__dir-ico {
                                width: 27px;
                                color: map-get($color, "negro");
                                font-size: 1rem;
                                margin: 0 10px;
                                display: inline-block;
                            }

                            a {
                                font-size: 1rem;
                                font-family: $fnt_01;
                                color: map-get($color, "negro");
                                display: inline-block;
                            }

                            div {
                                display: inline-block;

                                h2 {
                                    font-family: $fnt_01;
                                    font-size: 1rem;
                                    font-weight: 500;
                                    color: map-get($color, "negro");
                                    display: block;
                                    min-width: 75vw;
                                }

                                p {
                                    font-family: $fnt_01;
                                    font-size: 0.75rem;
                                    color: map-get($color, "gris_01");
                                    display: block;
                                }

                                
                            }

                            .cabeza__dir-chk {
                                width: 16px;
                                height: 16px;
                                color: map-get($color, "negro");
                                font-size: 1rem;
                                margin: auto 0;
                                display: inline-block;
                            }
                        }

                    }
                }
            }
        }

        .cabeza__dir--cont.activo {
            top: 0;
        }

        .cabeza__anun--cont {
            @include cabeza__desplegables--edit ($cbz_dsp-wth: 100vw, $cbz_dsp-pdd: 0);
            right: -100%;
            top: 0;
            background-color: map-get($color, "gris_12");

            .cabeza__anun--cont_cbz {
                background-color: map-get($color, "blanco");
                display: block;

                .cabeza__anun--cont_cbz-menu {
                    display: flex;
                    margin-top: 25px;

                    .cabeza__anun--cont_cbz-btn {
                        display: inline-block;
                        width: 50vw;
                        height: 5.95vh;
                        padding: 9px 0;
                        text-align: center;
                        font-family: $fnt_01;
                        font-size: 1.1rem;
                        color: map-get($color, "negro");
                        font-weight: 600;
                        line-height: 1.4;
                        //transition: .5s all;
        
                        /*&:active {
                            background-color: map-get($color, "gris_03");
                        }*/
                        &:hover {
                            //background-color: map-get($color, "gris_03");
                            animation: clic .7s forwards;

                            @keyframes clic {
                                0% {
                                    background-color: transparent;
                                }
                                50% {
                                    background-color: map-get($color, "gris_05");
                                }
                                100% {
                                    background-color: transparent;
                                }
                                
                            }
                        }
        
                    }
        
                }

                .cabeza__anun--cont_bdr {
                    display: block;
                    width: 100vw;
                    height: 2px;
                    background-color: map-get($color, "gris_05");

                    .cabeza__anun--cont_bdr-anim {
                        display: block;
                        width: 50vw;
                        height: 2px;
                        background-color: map-get($color, "gris_01");
                        //margin-right: 50vh;
                        transition: .2s all;
                    }
    
                    .cabeza__anun--cont_bdr-anim.novedades {
                        margin-right: 50vw;
                        margin-left: 0;
                        transition: .2s all;
                    }
        
                    .cabeza__anun--cont_bdr-anim.promociones {
                        margin-left: 50vw;
                        margin-right: 0;
                        transition: .2s all;
                    }

                }   
                
            }

            .cabeza__anun--cont_info {
                display: none;
                width: 100vw;
                height: auto;
                transition: .5s all;
            }

            .cabeza__anun--cont_info.activo {
                display: block;
                transition: .5s all;
            }

            .cabeza__anun--cont_info-cont {
                display: block;
                width: 100%;
                padding: 7vh 9vw 0;

                .cabeza__anun--cont_info-cont_box {
                    width: 100%;
                    height: auto;
                    background-color: map-get($color, "blanco");
                    padding: 2.5vh 6.5vw;
                    margin: 0 0 5vh;
                    /*border-top: 0;
                    border-left: 1px;
                    border-right: 1px;
                    border-bottom: 1px;
                    border-style: outset;
                    border-color: map-get($color, "gris_07");*/
                    border: 1px groove map-get($color, "gris_14");
                    border-top: none;
                    border-radius: 3px;

                    h1 {
                        font-family: $fnt_01;
                        font-size: 0.85rem;
                        font-weight: 600;
                        color: map-get($color, "negro");
                        text-align: left;
                    }

                    h2 {
                        font-family: $fnt_01;
                        font-size: 0.7rem;
                        font-weight: normal;
                        color: map-get($color, "gris_01");
                        text-align: left;
                    }

                    p {
                        font-family: $fnt_01;
                        font-size: 0.7rem;
                        font-weight: 600;
                        color: map-get($color, "negro");
                        text-align: right;
                        margin-top: 5px;

                        span {
                            font-family: $fnt_01;
                            font-size: 0.55rem;
                            color: map-get($color, "negro");
                            margin-left: 3px;
                        }
                    }
                }
            }

        }

        .cabeza__anun--cont.activo {
            right: 0;
        }  

        // ELEMENTOS DE LA CABECERA

        .cabeza__contenido--menu,
        .cabeza__contenido--anun {
            @extend .cabeza__extremos;

        }

        .cabeza__contenido--dir {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            //z-index: 11;
            //display: inline-block;

            .cabeza__dir--txt { 
                display: block;
                font-family: $fnt_01;
                color: map-get($color, "negro");
                font-weight: 500;
                font-size: 1rem;
                height: 25px;


                &:hover {
                    color: map-get($color, "gris_01");
                }
            }

            /*.cabeza__dir--cont {
                @include cabeza__desplegables--edit ($cbz_dsp-wth: 100vw, $cbz_dsp-pdd: 0);
                top: 200%;
                left: 0;

                .cabeza__dir--cont_box-cerr {
                    background-color: blue;
                    height: 25vh;
                    display: block;
                    cursor: pointer;
                }

                .cabeza__dir--cont_box {
                    display: block;
                    height: 75vh;
                    background-color: red;
                }
            }

            .cabeza__dir--cont.activo {
                top: 0;
            }*/
        }

    }

    #contenido {
        display: block;
        width: 100vw;
        margin: 60px 0 0;
        padding: 0 5vw;
        height: auto;

        .contenido__buscador--cont {
            width: 100%;
            border-radius: 30px;
            padding: 0.4vh 0.5vh 0.5vh;
            border: 1px solid map-get($color, "gris_04");
            margin: 0 0 20px;

            form {
                display: flex;
                justify-content: center;
            }

            .contenido__buscador--grupoipt {
                display: flex;
                border-radius: 30px;
                overflow: hidden;
                width: 100%;

                .contenido__buscador--campo {
                    flex: 1;
                    padding: 2%;
                    border: none;
                    outline: none;
                }

                .contenido__buscador--boton {
                    background-color: map-get($color, "rojo_01");
                    color: white;
                    border: none;
                    padding: 2% 4%;
                    border-radius: 0 30px 30px 0;
                    //cursor: pointer;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: map-get($color, "rojo_02");
                    }
                }
            }
        }

        .contenido__productos--cont {
            height: 29vh;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px;
            grid-template-areas: 
            
            "raes raba arreg"
            "raes ros plan"
            
            
            ;

            .contenido__productos--box {
                border-radius: 5px;
                padding: 10px;

                h1{
                    font-family: $fnt_01;
                    font-size: 0.75rem;
                    color: map-get($color, "negro");
                    font-weight: 600;
                    line-height: 14px;
                }
            }
        }

        #contenido__productos--ramosespe {
            grid-area: raes;
            background-color:violet;
        } 
        
        #contenido__productos--ramosbasic {
            grid-area: raba;
            background-color: lightpink;
        }

        #contenido__productos--arreglos {
            grid-area: arreg;
            //background-color:lightblue;
            background-color: cornflowerblue;
        }        
        
        #contenido__productos--rosas {
            grid-area: ros;
            //background-color:tomato;
            background-color:firebrick;
        }

        #contenido__productos--plantas {
            grid-area: plan;
            background-color:darkcyan;
        }

    }

    #pieses{
        width: 100%;
        min-width: 375px;
        //z-index: 11;

        .pieses__contenedor {
            @extend .flex-3;
            box-sizing: border-box;
            background-color: #212121;

            .pieses__contenedor--cols {
                @include cols-3-wrp ($cols-3_wth: 93.6vw);

                &:nth-child(2) {
                    background-color: blueviolet;
                }

                &:nth-child(3) {
                    background-color: crimson;
                }
            }
        }
    }
    
}