@use 'vars' as *;

// Cajas flexbox

.flex-1,
.flex-2,
.flex-3,
.flex-4,
.flex-5 {
    display: flex;
    flex-flow: row nowrap; 
}

.flex-1,
.flex-3,
.flex-5 {
    align-items: center;
}

.flex-1,
.flex-4 {
    justify-content: space-between;
}

.flex-2 {
    align-items: flex-start;
}

.flex-4 {
    align-items: flex-end;
}

.flex-5 {
    justify-content: space-around;
}

/*.flex-2,
.flex-3 {
    flex-flow: row wrap;
}

.flex-3 {
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-2-2 {
    flex-flow: column-reverse wrap;
}

.flex-2,
.flex-2-2 {
    justify-content: flex-start;
}*/

// Menúes desplegables cabecera

@mixin cabeza__desplegables--edit ($cbz_dsp-wth: auto, $cbz_dsp-hgt: 100vh, $cbz_dsp-pdd: 10px) {
    font-family: $fnt_01;
    width: $cbz_dsp-wth;
    height: $cbz_dsp-hgt;
    position: fixed;
    transition: .5s;
    z-index: 999;
    padding: $cbz_dsp-pdd;
}

// Cajas hijas

.cabeza__extremos {
    display: inline-block;
    padding: 7px;
}

// Cajas para scroll horizontal

.scroll_horiz {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
    margin: 0 0 20px;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin scroll_hrz ($scroll_horiz-gap: 10px, $scroll_horiz-mrg: 0 0 20px) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    gap: $scroll_horiz-gap;
    margin: $scroll_horiz-mrg;

    &::-webkit-scrollbar {
        display: none;
    }
}

// Efecto hover negro con h1 

@mixin box_hvrFX-01 ($bx_hvrfx01-bdrRad: 5px, $bx_hvrfx01-pasbgc: rgb(0, 0, 0, 0), $bx_hvrfx01-actbgc: rgb(0, 0, 0, 0.25), $bx_hvrfx01-paswyh: 15px, $bx_hvrfx01-bxpasbr: 50%, $bx_hvrfx01-trans: .2s all) {
    border-radius: $bx_hvrfx01-bdrRad;
    position: relative;

    h1 {
        position: absolute;
        z-index: 21;
    }

    .box_hvr {
        background-color: $bx_hvrfx01-pasbgc;
        width: $bx_hvrfx01-paswyh;
        height: $bx_hvrfx01-paswyh;
        border-radius: $bx_hvrfx01-bxpasbr;
        visibility: hidden;
        transition: $bx_hvrfx01-trans;
        //margin: 50% auto;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        //z-index: 11;
    }

    &:hover {
        .box_hvr {
            background-color: $bx_hvrfx01-actbgc;
            border-radius: $bx_hvrfx01-bdrRad;
            //margin: 0;
            width: 100%;
            height: 100%;
            //transform: none;
            //top: 0;
            //left: 0;
            visibility: visible;
            transition: $bx_hvrfx01-trans;
        }
    }
}